# Dataset - DO NOT upload
dataset/
PetImages/
*.jpg
*.jpeg
*.png

# Google Colab / Jupyter temporary files
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Virtual environments
venv/
.env/